
@font-face {
  font-family: 'LMNSiah';
  src: url('LMNSiah.eot?#iefix') format('embedded-opentype'),  url('LMNSiah.woff') format('woff'), url('LMNSiah.ttf')  format('truetype'), url('LMNSiah.svg#LMNSiah') format('svg');
  font-weight: normal;
  font-style: normal;
}
